<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue.js"></script>
    <style>
        .v-enter,
        .v-leave-to{
            opacity: 0;
            transform: translateX(150px);
        }

        .v-enter-active,
        .v-leave-active{
            transition: all 0.8s ease;
        }

        .my-enter,
        .my-leave-to{
            opacity: 0;
            transform: translateY(150px);
        }

        .my-enter-active,
        .my-leave-active{
            transition: all 0.8s ease;
        }
    </style>
</head>
<body>
    <div id='app'>
        <input type="button" value="toggle" @click='flag=!flag'>
        <!--1.使用transition元素，把需要被动画控制的元素，包裹起来-->
        <transition>
            <h3 v-if='flag'>这是一个H3</h3>
        </transition>

        <hr>

        <input type="button" value="toggle" @click='flag2=!flag2'>
        <!--1.使用transition元素，把需要被动画控制的元素，包裹起来-->
        <transition name='my'> <!--自定义标签-->
            <h6 v-if='flag2'>这是一个H6</h6>
        </transition>
    </div>

    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                flag:false,
                flag2:false
            }
        })
    </script>
</body>
</html>